extends ../_index.pug

block state
  - const title = 'Home'
  - const scripts = ['../index.min.js']

block style
  style
    | .progress {
    |   position: fixed;
    |   top: .25em;
    |   right: .25em;
    |   left: .25em;
    |   pointer-events: none;
    | }
    | .progress span {
    |   display: block;
    |   float: left;
    |   width: 0;
    |   height: .25em;
    |   background: #00f;
    |   transition: width .25s ease-out;
    | }
    | .progress span.success {
    |   background: #0f0;
    | }
    | .progress span.error {
    |   background: #f00;
    | }

block content
  main
    p: a(href='test.html') Test!

block script
  script
    | let f3h = new F3H,
    |     main = document.querySelector('main'),
    |     progress = document.createElement('div'),
    |     bar = document.createElement('span');
    |
    | progress.className = 'progress';
    |
    | progress.appendChild(bar);
    | document.body.appendChild(progress);
    |
    | f3h.on('error', () => {
    |     bar.style.width = '100%';
    |     bar.classList.add('error');
    | });
    |
    | f3h.on('exit', () => {
    |     bar.style.width = '0%';
    |     bar.classList.remove('error');
    |     bar.classList.remove('success');
    | });
    |
    | f3h.on('pull', (from, to) => {
    |     bar.style.width = ((to / from) * 100) + '%';
    | });
    |
    | f3h.on('success', response => {
    |     document.title = response.title;
    |     main.innerHTML = response.querySelector('main').innerHTML;
    |     bar.classList.add('success');
    |     console.log(f3h.lot);
    | });
