extends ../../_index.pug

block state
  - const title = 'Home'
  - const scripts = ['../../index.min.js']

block content
  main
    p Check if elements already have custom events. If so, skip it!
    p
      a(href='test.html') Default
      = ' '
      a(href='test.html' onclick='return false;') Custom 1
      = ' '
      a#a(href='test.html') Custom 2
    form(action='test.html' method='get')
      p
        input(name='q' type='text')
        = ' '
        button(type='submit') Default
    form(action='test.html' method='get' onsubmit='return false;')
      p
        input(name='q' type='text')
        = ' '
        button(type='submit') Custom 1
    form#form(action='test.html' method='get')
      p
        input(name='q' type='text')
        = ' '
        button(type='submit') Custom 2

block script
  script
    | let f3h = new F3H,
    |     main = document.querySelector('main');
    |
    | f3h.on('success', response => {
    |     document.title = response.title;
    |     main.innerHTML = response.querySelector('main').innerHTML;
    | });
  script
    | document.querySelector('#a').addEventListener('click', e => e.preventDefault(), false);
    | document.querySelector('#form').addEventListener('submit', e => e.preventDefault(), false);