extends ../../_index.pug

block state
  - const title = 'Home'
  - const scripts = ['../../index.min.js']

block content
  main
    p Although #[a(href='test.html') there] are #[a(href='test.html') several] #[a(href='test.html') internal] #[a(href='test.html') links] pointing to #[a(href='test.html') the same page] #[a.foo(href='test.html') here], only #[a.bar(href='test.html') this link] and previous link that will trigger AJAX loading event.

block script
  script
    | let f3h = new F3H({
    |         sources: '.foo, .bar'
    |     }),
    |     main = document.querySelector('main');
    |
    | f3h.on('success', response => {
    |     document.title = response.title;
    |     main.innerHTML = response.querySelector('main').innerHTML;
    | });
