extends ../../_index.pug

block state
  - const title = 'Page 5'

block style
  style
    | img {
    |   max-width: 100%;
    |   height: auto;
    | }
    | footer, main, nav {
    |   max-width: 700px;
    |   margin-right: auto;
    |   margin-left: auto;
    | }

block content
  main
    h2 Fusce Ac Turpis Quis Ligula Lacinia
    p: img(alt="" height='350' src='https://via.placeholder.com/700x350.jpg?text=700x350' width='700')
    p Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi.
    h2 Nunc Feugiat Mi A Tellus Consequat Imperdiet
    p: img(alt="" height='350' src='https://via.placeholder.com/700x350.jpg?text=700x350' width='700')
    p Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam.
    p In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor.
  nav
    a(href='4.html' rel='prev') Previous
