style
  | * {
  |   box-sizing: border-box;
  |   list-style: none;
  |   margin: 0;
  |   padding: 0;
  | }
  | :root {
  |   background: #000;
  |   color: #eee;
  |   font-family: sans-serif;
  | }
  | a {
  |   color: #f69;
  |   text-decoration: none;
  | }
  | body {
  |   margin: 0 auto;
  |   max-width: 700px;
  |   padding: 5%;
  | }
  | form, h1, h2, h3, h4, h5, h6, nav, p {
  |   margin: 0 0 1rem;
  | }
  | nav ul {
  |   display: flex;
  | }
  | nav li {
  |   margin: 0 1.5em 0 0;
  | }
  | nav li:last-child {
  |   margin-right: 0;
  | }