extends ../_index.pug

block state
  - const title = 'Home'
  - const scripts = ['../index.min.js']
  | <?php
  |
  | if ('POST' === $_SERVER['REQUEST_METHOD']) {
  |     $log = file_get_contents(__DIR__ . '/log');
  |     $v = trim(strip_tags($_POST['message']));
  |     if ("" !== $v) {
  |         $log .= '[' . date('H:i:s') . '] ' . strtr($v, [
  |             '[' => '&#x5B;',
  |             ']' => '&#x5D;'
  |         ]) . "\n";
  |     }
  |     file_put_contents(__DIR__ . '/log', $log);
  |     header('Location: .');
  |     exit;
  | }
  |
  | ?>

block content
  main
    h1 Notes
    | <?php if ($content = file_get_contents(__DIR__ . '/log')): ?>
    p
      | <?= strtr(trim('<b>' . $content), [
      |     "\n[" => '<br><b>[',
      |      '] ' => ']</b> '
      | ]); ?>
    | <?php endif; ?>
    form(method='post')
      p
        input(autocomplete='off' autofocus name='message' type='text')
        = ' '
        button(type='submit') Send

block script
  script
    | let f3h = new F3H,
    |     main = document.querySelector('main');
    |
    | f3h.on(200, response => {
    |     document.title = response.title;
    |     main.innerHTML = response.querySelector('main').innerHTML;
    | });
