extends ../example-8/index.pug

block script
  script
    | let f3h = new F3H({
    |         history: false // Disable the history feature
    |     }),
    |     main = document.querySelector('main'),
    |     nav = document.querySelector('nav'),
    |     prev = nav.querySelector('[rel=prev]'),
    |     next = nav.querySelector('[rel=next]'),
    |
    |     sections = {};
    |
    | // Convert “Next/Previous” navigation in your traditional HTML pages into “Load More” navigation
    | function nextToMore(title) {
    |     // Hide previous navigation
    |     prev && (prev.style.display = 'none');
    |     // Change next navigation text to “Load More”, or show a message that there are no more pages to load.
    |     next && (next.textContent = 'Load More') || (nav.innerHTML = '<i>No more pages to load.</i>');
    |     sections[main.offsetHeight] = title;
    | }
    |
    | f3h.on('success', response => {
    |     main.insertAdjacentHTML('beforeend', '<hr>' + response.querySelector('main').innerHTML);
    |     nav.innerHTML = response.querySelector('nav').innerHTML;
    |     prev = nav.querySelector('[rel=prev]');
    |     next = nav.querySelector('[rel=next]');
    |     nextToMore(response.title);
    | });
    |
    | // Initial page
    | nextToMore(document.title = 'Page 1');
    |
    | // Change document title on every section match
    | window.addEventListener('scroll', () => {
    |     let visible = window.pageYOffset + (window.innerHeight / 2), top;
    |     for (top in sections) {
    |         if (+top < visible) {
    |             continue;
    |         }
    |         document.title = sections[top];
    |         break;
    |     }
    | });
    |
    | // The code above is equal to the “Load More” example, with this extra ending scroll event detection
    | let body = document.body,
    |     threshold = 200; // 200 pixel(s) before end of the document
    | window.addEventListener('scroll', () => {
    |     if ((window.innerHeight + window.pageYOffset) >= body.offsetHeight - threshold) {
    |         if (next) {
    |             next.click(); // Click the “Load More” link!
    |             next.style.visibility = 'hidden'; // Hide the “Load More” link!
    |             next = false;
    |         }
    |     }
    | });
