extends ../../_index.pug

block state
  - const title = 'Home'
  - const scripts = ['../../index.min.js']

block content
  main
    p #[a(href='test.html') Test!] (pressing the back button after clicking the link shouldn&rsquo;t trigger the first alert)

block script
  script
    | let f3h = new F3H,
    |     main = document.querySelector('main');
    |
    | f3h.on('success', response => {
    |     document.title = response.title;
    |     main.innerHTML = response.querySelector('main').innerHTML;
    | });
    |
    | alert('Alert once!');
