extends ../../_index.pug

block state
  - const title = 'A Test Page'
  - const styles = ['test.css']
  - const scripts = ['test.js']

block style
  style
    | /* This is a test. */
    | html {
    |   background: #000;
    |   color: #fff;
    | }

block content
  main
    p This is a test.

block script
  script
    | alert('This is a test.');
