extends ../_index.pug

block state
  - const title = 'Home'
  - const scripts = ['../f3h.min.js']

block content
  main
    p #[a(href='test.php?r=..%2Fexample-0%2Findex.html') Go to Example 0] &middot; #[a(href='test.php?r=https://example.com') Go to External Site]

block script
  script
    | let f3h = new F3H,
    |     main = document.querySelector('main');
    |
    | f3h.on('error', (response, source) => {
    |     // Force page change
    |     window.location.href = source.href || source.action;
    | });
    |
    | f3h.on('success', response => {
    |     document.title = response.title;
    |     main.innerHTML = response.querySelector('main').innerHTML;
    | });
