extends ../_index.pug

block state
  - const title = 'Home'
  - const scripts = ['../index.min.js']
  | <?php
  |
  | if ('POST' === $_SERVER['REQUEST_METHOD']) {
  |     if (!empty($_FILES['blob'])) {
  |         if (empty($_FILES['blob']['error'])) {
  |             move_uploaded_file($_FILES['blob']['tmp_name'], __DIR__ . '/' . uniqid() . '.' . pathinfo($_FILES['blob']['name'], PATHINFO_EXTENSION));
  |             header('Location: ?error=0');
  |             exit;
  |         }
  |         header('Location: ?error=' . $_FILES['blob']['error']);
  |         exit;
  |     }
  |     header('Location: ?error');
  |     exit;
  | }
  |
  | ?>

block content
  main
    h1 Files
    | <?php if ($files = glob(__DIR__ . '/*.*')): ?>
    ol
      | <?php foreach ($files as $file): ?>
      | <?php if ('index.php' === ($n = basename($file))) continue; ?>
      li: a(href=!'<?= $n; ?>' target='_blank') <?= $n; ?>
      | <?php endforeach; ?>
    | <?php endif; ?>
    form(enctype='multipart/form-data' method='post')
      p
        input(name='blob' type='file')
        |
        |
        button(name='save' hidden type='submit') Upload

block script
  script
    | let f3h = new F3H,
    |     main = document.querySelector('main');
    |
    | f3h.on('exit', (response, any) => {
    |     document.title = (any.blob ? 'Uploading' : 'Loading') + '…';
    | });
    |
    | f3h.on(200, response => {
    |     document.title = response.title;
    |     main.innerHTML = response.querySelector('main').innerHTML;
    |     document.forms[0].blob.value = "";
    | });
    |
    | // Upload immediately on file selection
    | document.forms[0].blob.addEventListener('change', function() {
    |     this.form.save.click(); // Click the hidden button element
    | }, false);
